<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Magic</span><span class="main-header__title--orange">Computers</span>
    </h1>
    <div class="container-menu">
        <nav class="main-header__menu">
            <ul>
                <li>
                    <a (click)="mudaPagina('/')">
                        Home
                    </a>
                </li>
                <li>
                    <a (click)="mudaPagina('/produtos')">
                        Produts
                    </a>
                </li>
                <li><a (click)="mudaPagina('/contato')">Contact</a></li>
                <li>
                    <a (click)="mudaPagina('/carrinho')">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Cart
                        <span class="badge-cart">{{ carrinhoService.getItems().length }}</span>
                    </a>
                </li>
            </ul>
        </nav>
        <form class="search-form">
            <input type="text" name="search"  placeholder="Search">
            <button type="submit">
                <i class="fa-solid fa-search"></i>
            </button>
        </form>
    </div>
</header>