<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste maxime atque et aspernatur cumque maiores! Deserunt quas accusamus quae consequatur officiis explicabo, aspernatur consectetur, iste natus et dolore pariatur tenetur.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><a href="https://linkedin.com/in/eufelipelucio"><i class="fa-brands fa-linkedin"></i>LinkedIn</a></li>
                <li><a href="https://github.com/eufelipelucio"><i class="fa-brands fa-github"></i>Github</a></li>
                <li><a href="mailto:felipesou94@gmail.com?" subject="link HTML"><i class="fa-solid fa-envelope"></i>Felipesou94@gmail.com</a></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy;  Magic Computers - Todos os direitos reservados
    </section>
</footer>
