.container{
    display:flex;
    width:100%;
    flex-flow:column nowrap;
    justify-content:center;
    height:450px;
    text-align:center;
}
.container i{
    font-size:200px;
    color:var(--primary);
}
.container h2{
    font-size:44px;
    color:var(--secondary);
}

